<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Agua Patos</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/pago.css" />
    <link rel="shortcut icon" href="/Imágenes/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <a class="logo" href="../index.html">
        <img class="navlogo" src="/Imágenes/Logo.png" alt="logo_al_agua_patos" />
      </a>

      <div class="nav-right">
        <a href="../index.html" class="products">Inicio</a>
        <a href="/views/productos.html" class="products">Productos</a>
        <a href="/views/contacto.html" class="contact">Contacto</a>
        <img src="/Imágenes/Line 24.png" class="line" alt="línea de separación" />
        <a href="/views/pago.html" class="shoppingCart">
          <img src="/Imágenes/Carrito.png" alt="carrito_de_compras" />
        </a>
      </div>
    </nav>

    <main class="cart-container">
      <section class="cart-items">
        <div class="item" id="product1">
          <img id="imagenPrincipal" class="item-img" />
          <div class="item-details">
            <p class="item-name" id="nombre"></p>
          </div>
          <p class="item-price" id="precio"></p>
          <div class="quantity-control">
            <button onclick="decrementar()">-</button>
            <input type="number" id="cantidad" class="quantity-input">
            <button onclick="incrementar()">+</button>
          </div>
          <p class="item-total">8,80 €</p>
          <button class="delete-btn" onclick="deleteproduct('product1')">🗑️</button>
        </div>
    
        <hr />
    
        <div class="item" id="product2">
          <img src="../Imágenes/glitter-corona-rosa.jpg" alt="Pato Crown" class="item-img" />
          <div class="item-details">
          <p class="item-name">Crown</p>
          </div>
          <p class="item-price">8,80 €</p>
          <div class="quantity-control">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
          <p class="item-total">8,80 €</p>
          <button class="delete-btn" onclick="deleteproduct('product2')">🗑️</button>
        </div>
      </section>
    
      <section class="cart-summary">
        <h2>total del carrito</h2>
        <div class="summary-line">
          <p>subtotal:</p>
          <p>17.60 €</p>
        </div>
        <div class="summary-line total">
          <p>total:</p>
          <p><strong>17.60 €</strong></p>
        </div>
        <button class="checkout-btn">FINALIZAR COMPRA</button>
      </section>
    </main>

    <footer>
      <p>Copyright 2025 ©</p>
      <div class="socialMedia"> 
        <a href="https://www.facebook.com/" target="_blank" ><img src="/Imágenes/Facebook.png" alt="facebook" /></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/Imágenes/Instagram.png" alt="instagram" /></a>
        <a href="https://www.whatsapp.com/" target="_blank"><img src="/Imágenes/Whatsapp.png" alt="whatsapp" /></a>
      </div>
      
    </footer>

    <script src="../JS/pago.js"></script>
    <script src="../JS/eliminar.js"></script>
  </body>
</html>